body {
  font-family: Arial, sans-serif;
}

.background {
  background-color: #ccf3db;
  border-radius: 40px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 480px;
  height: 250px;
  align-items: left;

}

.container{
  display: flex;
  width: 440px;
}
.ct1{
  border-bottom: 1px solid #b9debf ;
  padding-bottom: 10px;
}

.icon {
  color: #00C57A;
  font-size: 40px;
  width: 80px;
  height: 80px;
   display: flex;
  justify-content: center;
  align-items: center;
}

.ct1 .icon   {
  color: white;
  background-color: #00C57A;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub{
  width: 186px;
  padding-left: 15px;
  box-sizing: border-box;
}

.ct1 .sub{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ct1 .title {
  font-size: 24px;
  color: #3b5035;
  margin-bottom: 12px;
}

.ct1 .content{
  font-size: 16px;
  color: #6c7b68;
}

.ct2 {
  display: flex;
  border-bottom: 1px solid #b9debf ;
  }

.ct2 .sub{
  display: flex;
  font-size: 18px;
  color: #50674b;
  align-items: center;
}

.container-img{
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.img {
  border-radius: 10px;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  background-image: url(https://loremflickr.com/320/240/dog);
  margin-right: 5px;
  
}

.ct3{
  display: flex;
}

.ct3 .sub {
  display: flex;
  font-size: 18px;
  color: #50674b;
  align-items: center;  
}

.ct3 .img-overlay{
  border-radius: 10px;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: left;
}
.ct3 .word {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100%;
}